<div class="cover-image" *ngIf="anime.attributes?.coverImage">
  <img [src]="anime.attributes?.coverImage?.small" width="100%" />
</div>
<nav>
  <ul class="menus">
    <li class="active">OVERVIEW</li>
    <li>CHARCTERS</li>
    <li>REVIEWS</li>
  </ul>
</nav>
<div class="stat-list">
  <div class="stat">
    <div class="statistic">
      <div class="value">
        {{anime.attributes?.episodeCount}} eps X {{anime.attributes?.episodeLength}} mins      </div>
      <div class="label">
        {{anime.attributes?.showType}}
      </div>
    </div>
  </div>
  <div class="stat">
    <div class="statistic">
      <div class="value">
        {{anime.attributes?.ageRatingGuide}}
      </div>
      <div class="label">
        Age Rating
      </div>
    </div>
  </div>
  <div class="stat">
    <div class="statistic">
      <div class="value">
        {{anime.attributes?.popularityRank}}
      </div>
      <div class="label">
        Popularity Rank
      </div>
    </div>
  </div>
  <div class="stat">
    <div class="statistic">
      <div class="value">
        {{anime.attributes?.ratingRank}}
      </div>
      <div class="label">
        Rating Rank
      </div>
    </div>
  </div>
  <div class="stat">
    <div class="statistic">
      <div class="value">
        {{anime.attributes?.averageRating}}
      </div>
      <div class="label">
        Average Rating
      </div>
    </div>
  </div>
</div>
<div class="ui stackable grid details">
    <div class="four wide column">
        <img [src]="anime.attributes?.posterImage?.small"/>
    </div>
    <div class="twelve wide column">
        <div class="title">
          <h1>{{anime.attributes?.canonicalTitle}}</h1>
        </div>
        <div class="synopsis">{{anime.attributes?.synopsis}}</div>
        <hr>
        <p class="attr">Start Date: <span>{{anime.attributes?.startDate | date}}</span></p>
        <p class="attr">End Date: <span>{{anime.attributes?.endDate | date}}</span></p>
        <hr>
        <p class="tags">Tags</p>
        <a class="ui tag label" *ngFor="let gen of genres">{{gen.attributes.name}}</a>
    </div>
</div>
